/******************************
 * START LOGIN
 *****************************/

.login-container
{
	padding-top: -30px;
	display: inline-block;
	border: 1px dotted;
	margin: 30px;	 
	width: 400px;
	heigth:40%;
}

.login-logo-format-padding
{
	padding-top: -30px;
}

.login-format-padding
{
	padding-bottom: 15px;
}

.login-password-dimenticata
{
    float: right;
    padding-right: 10%;
}

.login-input-type{
    width: 80%;
    height: 35px;
}

.login-invalid{
    color: red;
}

.login-password
{
    float: left;
    margin-left: 32px;
}

.label-left{
	float: left;
	padding-left: 10%;
	font-weight: bold;
}

.login-logo img{
	max-width: 200px;
}

/******************************
 * END LOGIN
 *****************************/