<div data-sly-use.myMenu="${ 'com.aem.eaga.sightly.myWishlistMenu.MyWishlistMenuUse' @ currentNode=currentNode }">
    <div class="myWishlistMenu-position" onmouseover="openMenuWishlist(this)" onmouseout="closeMenuWishlist(this)">
        <ul data-sly-test.emptyMenu="${ myMenu.author && myMenu.menuEmpty }">
            <li>
            	<a href='#'>Configure the component</a>
            </li>
        </ul>
        <div class="text-one-line-wishlist">${properties.textOneLine ? properties.textOneLine : 'Le tue' @context='html'}</div>
		<div class="text-img-wishlist">
        	<div class="text-second-line-wishlist">${properties.textSecondLine ? properties.textSecondLine : 'Liste' @context='html'}</div>
        	<img class="img-myWishlistMenu" src="/etc/designs/EAGA-Design/images/icon-menu.png">
        </div>
        <div class="container-menu-wishlist hidden">
            <div data-sly-test="${ !myMenu.menuEmpty }">
                <dl data-sly-list.child="${ myMenu.map }">
                	<dd class="element-menu-wishlist" data-sly-test="${ (myMenu.author && childList.index == 0) || (myMenu.authenticated && childList.index == 0) }">
						<a href='${ myMenu.map[child] }'>${child}</a>
						<hr class="text-center hr-division-wishlist">
					</dd>
                    <dd class="element-menu-wishlist" data-sly-test="${childList.index != 0}"> 
                        <a href='${ myMenu.map[child] }'>${child}</a>
                    </dd>
                </dl>
            </div>
    	</div>
    </div>
</div>