<div  data-sly-unwrap>
	<div class="col-sm-12">
		<div class="col-sm-4">
			<div class="col-sm-2">
				<div class="img-column-container">
					<img class="img-column-item" src="/etc/designs/EAGA-Design/images/large/alert-icon-red.png" />
					<img class="img-column-item" src="/etc/designs/EAGA-Design/images/large/facebook.gif" />
					<img class="img-column-item" src="/etc/designs/EAGA-Design/images/large/twitter.gif" />
					<img class="img-column-item" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				</div>
			</div>
			<div class="col-sm-10 img-column">
				<img class="front-img" src="" data-zoom-image="" />
			</div>
		</div>
		<div class="col-sm-5">
			<div class="product-container">
				<h2 class="col-sm-12 product-name">Nome del prodotto</h2>
				<p class="trade-mark">marca</p>
				<hr>
				<div class="price-container">
					<span>Euro:</span><span class="product-price">34.50</span>
				</div>
				<hr>
				<p>Disponibilità immediata</p>
				<div class="col-sm-12 product-desc">Descrizione breve</div>
			</div>
		</div>
		<div class="col-sm-3 ">
			<div class="cart-container" >
				<div class="col-sm-12">
					<div class="quantity">
						<label class="quantity-label" >Quantità:</label>
						<select id="productPage-select" class="quantity-select" ></select>
					</div>
				</div>
				<input class="cart-input" type="submit" name="submit" value="Aggiungi al carrello" onclick="addToCart()"/>
				<input class="wishlist-input" type="submit" name="wishlist" value="Aggiungi alla lista dei desideri" onclick="addToWishList()" />
			</div>
		</div>
		<div class="col-sm-12">
			<div class="details-container">
				<hr>
				qui la descrizione estesa
			</div>
		</div>
	</div>
</div>