.myAccountMenu-position{
	top: 40px;
	margin-left: 70px;
    position: absolute;
}

.img-myaccount{
	width: 15px;
    margin-bottom: 7px;
    margin-left: 3px;
}

.text-img{
	display: -webkit-inline-box;
    font-size: 18px;
    color: #ffffff;
}

.text-one-line{
	color: #ccc;
}

.text-second-line{
	font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    font-family: arial,sans-serif;
}

.element-menu{
	margin-left: 5%;
    margin-bottom: 7px;
}

.container-menu{
	border: 2px;
    border-style: ridge;
    background: #ffc;
    width: 225px;
    margin-top: -3px;
}

.div-button{
	margin-top: 15px;
    margin-bottom: 15px;
}

.button-menu{
    background: -webkit-linear-gradient(top,#f8e3ad,#eeba37);
    border: 1px solid;
    border-color: #c89411;
	width: 80%;
    height: 33px;
}

.hr-division{
	width: 90%;
}
.colored-attr{
	color: #f08804; 
	
}