/******************************************/
/*     START  ADD PRODUCT 			      */
/******************************************/
.addproduct-container{
	display: inline-block;
    border: 1px dotted;
    margin: 30px;
    width: 480px;
}
.product-form-group input{
	margin-bottom: 20px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    border-radius: 3px;
    padding: 0px 15px;
    right: 5px;
    position: relative;
    float: right;
    auto
}
.product-form-group label{
	float: left;
	margin-left: 15px;
	line-height: 35px;
	margin-bottom: 20px;
	margin-right: 60px;
	text-align: left;
	auto
}
.product-form-empty{
	border-right-color: red;
    border-bottom-color: red;
    border-right-style: dotted;
    border-bottom-style: dotted;
}
#productquantity, #productprice{
	width: 32%;
    margin-right: 158px;
}
#productquantitylabel{
	float: right;
    margin-right: -195px;
}
#productpricelabel{
	float: right;
    margin-right: -170px;
}
#productnamelabel{
	margin-right: 5px;
	width: 25%
}
/******************************************/
/*     END ADD PRODUCT					  */
/******************************************/