.products-container{
	width: 100%;
    heigth: 100%;
}

.search-product{
	margin-left: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: groove;
    width: 302px;
    border-width: 5px;
}

.menu-container{
	width: 100%;
    heigth: 100%;
    border-style: groove;
    border-top-style: none;
	border-left-style: none;
}

.product-items{
	display: inline-block;	 
	width: 25%;
	border-style: groove;
	border-left-style: none;
	border-top-style: none;
	border-right-style: none;
	margin-bottom: 10px;
}

.imageProduct{
	width: 150px;
    height: 150px;
}
