<div data-sly-use.homeprod="${'com.aem.eaga.sightly.homeproduct.HomeProductUse' @ currentNode=currentNode}" id="${homeprod.id}" >

	<div data-sly-test="${!homeprod.empty}" data-sly-unwrap>

		<div class="slider-wrap-prod" data-time-autoplay="${homeprod.timing}">
		    <div class="image-slider-wrap-prod" data-sly-list.item="${homeprod.homeProductItems}">
		        <div class="images-slider-single-prod">
		            <img class="img-breakpoint" alt="${item.imageAlt}" src="${item.image}">
		            <div class="cta-slider-single-prod">
		                <a href="#" data-sly-attribute.href="${item.imageHref}">
			                <span class="cta-slider-headline-prod">
			                    <span data-sly-text="${item.name @ context='html'}">Pay as you go phones</span>
			                </span>
		                </a>
		            </div>
		        </div>
		    </div>	   
		    <div class="arrows-prod hidden"></div>
		    <div class="control-wrap-prod">
		        <div class="dots-wrap-prod"></div>
		   	</div>		    
		</div>
	</div>
	<div data-sly-test="${homeprod.author && homeprod.empty}" data-sly-unwrap>
		Configure Home-Products Component
	</div>
</div>