<div class="text-center">
	<a href="/content/eaga.html" >
		<img src="/etc/designs/EAGA-Design/images/eaga-logo-login.png">
	</a>
</div>
<div class="login-container">
	<div class="text-center login-format-padding">		
		<div class="login-format-padding">
			<h2>${properties.labelAccedi @context='html'}</h2>
		</div>
		<div>
			<b>${properties.labelIndirizzoMailNumero @context='html'}</b>
		</div>
		<div class="login-format-padding">
			<input class="login-input-type" type="email" required>
		</div>
			<span class="login-password-margin">${properties.labelPassword @context='html'}</span>
			<span class="login-password-dimenticata">${properties.labelPasswordDimenticata @context='html'}</span>
		<div class="login-format-padding">
			<input class="login-input-type" type="password" required>
		</div>
		<div class="login-format-padding">
			<input type="submit" class="login-input-type" value="${properties.labelButtonAccedi ? properties.labelButtonAccedi : 'Accedi' @context='html'}" onclick="loginAccount()">
		</div><br>
		<div class="text-center login-format-padding">${properties.labelSeiNuovo @context='html'}</div>
		<div class="login-format-padding">
			<input type="submit" class="login-input-type" value="${properties.labelButtonCrea ? properties.labelButtonCrea : 'Crea il tuo account Amazon' @context='html'}">
		</div>
	</div>
</div>
