<div data-sly-unwrap></div>
<div id="my-personaldetail-container" class="container-fluid" ng-controller="PersonalDetailsController">
	<div id="my-personaldetail-base" class="row">
		<div class="accordion-container margin-bottom-50">
			<div class="accordion active">
				<h2>	
                	${properties.titletab1 ? properties.titletab1 : "My Personal Details" @ context='html'} 
                </h2>
				<div class="accordion-body" style="display: block;">
					<div class="persona-data-container">
						<div class="row padding-bottom-20">
							<div class="col-sm-4">
								<div class="box-data">
									<span class="text-bold"> ${properties.name ? properties.name : "Customer Name:" @ context='html'} </span> 
									<span>Da popolare</span>
								</div>
								
							</div>
							<div class="col-sm-4">
								<div class="box-data">
									<span class="text-bold"> ${properties.email ? properties.email : "E-mail Address:" @ context='html'} </span> 
									<span>Da popolare</span>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="box-data">
									<span class="text-bold"> ${properties.password ? properties.password : "Password:" @ context='html'} </span> 
									<span class="personalV dots"> <!--{{logindetails.Password}}  --> ......</span>
									<span class="personalM"><input type="password" name="password" required /></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<input class="personalV" id="modifiy-personal-details" type="submit" value="Edit data"/>
				<input class="personalM" type="submit" value="Update data" onclick="updatePDDB()"/>
			</div>
		</div>
	</div>
</div>