<div data-sly-use.myMenu="${ 'com.aem.eaga.sightly.myAccountMenu.MyAccountMenuUse' @ currentNode=currentNode }">
    <div class="myAccountMenu-position" onmouseover="openMenu(this)" onmouseout="closeMenu(this)">
        <ul data-sly-test.emptyMenu="${ myMenu.author && myMenu.menuEmpty }">
            <li>
            	<a href='#'>Configure the component</a>
            </li>
        </ul> 
        <div class="text-one-line">${properties.textOneLine ? properties.textOneLine : 'Ciao. Accedi' @context='html'}</div>
		<div class="text-img">
        	<div class="text-second-line">${properties.textSecondLine ? properties.textSecondLine : 'Il mio account' @context='html'}</div>
        	<img class="img-myaccount" src="/etc/designs/EAGA-Design/images/icon-menu.png">
        </div>
        <div class="container-menu hidden">
            <div data-sly-test="${ !myMenu.menuEmpty }">
                <dl data-sly-list.child="${ myMenu.map }">
                    <dd data-sly-test="${ (myMenu.author && childList.index == 0) || (!myMenu.authenticated && childList.index == 0) }">
                        <div class="text-center div-button">
                            <button class="button-menu" type="submit" onclick="redirectLogin()">${child}</button>
                        </div>
                        <hr class="text-center hr-division">
                    </dd>
                    <dd class="element-menu" data-sly-test="${ (childList.index != 0) && (childList.last != true) }">
                        <a href='${ myMenu.map[child] }'>${child}</a>
                    </dd>
                    <dd data-sly-test="${ (myMenu.author && childList.last == true ) || (myMenu.authenticated && childList.last == true) }">
						<hr class="text-center hr-division">
                        <div class="text-center div-button">
                            <button class="button-menu" type="submit" onclick="$.portal.logout('${ myMenu.map[child] }');">${child}</button>
                        </div>
                    </dd>
                </dl>
            </div>
    	</div>
    </div>
</div>