<div data-sly-use.myMenu="${ 'com.aem.eaga.sightly.menuLogin.MenuLoginUse' @ currentNode=currentNode }"
	data-sly-test="${ myMenu.componentVisible }">
    <div class="header-menuLogin menuLogin-border">
        <ul data-sly-test.emptyMenu="${ myMenu.author && myMenu.menuEmpty }">
            <li class="menu-links" >
            	<a href='#'>Configure the component</a>
            </li>
        </ul>
        <div id="myaccount" data-sly-test="${ !myMenu.menuEmpty }" >
			<div class="menuLogin-border">My Account</div>
			<ul id="authed-menu" class="" data-sly-list.key="${ myMenu.map }">
				<li class="menu-links menuLogin-border" data-sly-test="${ key != 'Logout'}">
					<a href='${ myMenu.map[key] }'>${key}</a>
				</li>
				<li data-sly-test="${ key == 'Logout' }" class="menuLogin-border">
					<div>
						<input type="" name="logout" value="true">
						<button class="menu-links-btn" type="submit">${key}</button>
					</div>
				</li>
			</ul>
		</div>
    </div>
</div>