<div class="row" ng-controller="ProductsController" data-ng-init="callAjaxCategorie()">
	<div class="col-sm-2 menu-container">
		<ul ng-repeat="(key, cat) in categorie">
			<li><a href="#" ng-bind="cat.Nome" ng-click="callAjaxProducts(cat.IdCategoria)"></a></li>
		</ul>
	</div>
	<div class="col-sm-10">
		<div class="search-product">
			<select ng-options="cat as cat.Nome for cat in categorie track by cat.IdCategoria" name="select" ng-model="selected"></select>
			<input type="search" name="search" placeholder="Cerca prodotto">
			<button class="button-format" ng-click="callAjaxProducts(selected.IdCategoria)">Cerca</button>
		</div>
        <div class="text-search" ng-bind="noproducts"></div>
		<div class="products-container">
            <div class="product-items" ng-repeat="(key, prods) in products">
				<div ng-bind="prods.NomeProdotto"></div>
                <div><a href="/content/eaga/product.html/id={{prods.IdProdotto}}"><img class="imageProduct" ng-src="{{prods.PathImmagine}}""/></a></div>
				<div class="desription-product"><span>EUR: </span><span ng-bind="prods.PrezzoProdotto"></span></div>
				<div class="desription-product"><span>Quantita: </span><span ng-bind="prods.QuantitaProdotto"></span></div>
			</div>
		</div>
	</div>
</div>