<div class="row" ng-controller="ProductsController">
    <div ng-model="products">aaaaaaaaaaaaaaaaaaaaaa: </div>
    <div ng-model="abcde">aaaaaaaaaaaaaaaaaaaaaa:</div>
    <div>aaaaaaaaaaaaaaaaaaaaaa: {{abcde}}</div>
    <div>aaaaaaaaaaaaaaaaaaaaaa: {{products}}</div>
	<div class="col-sm-2 menu-container">
		<div>Marca</div>
		<div>Disponibilita</div>
		<div>Nuovi Arrivi</div>
		<div>Recensioni</div>
		<div>Produttore</div>
		<div>Venditore</div>
		<div>Eaga</div>
	</div>
	<div class="col-sm-10">
		<div class="products-container">
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
			<div class="product-items">
				<div>Nome prodotto</div>
				<img class="imageProduct" src="/etc/designs/EAGA-Design/images/large/mobile.gif" />
				<div>Descrizione</div>
				<div>Prezzo</div>
				<div>disponibilita</div>
			</div>
		</div>
	</div>
</div>