
<div class="col-sm-12">
	<div class="col-sm-9">
		<div class="cart-list-container"> 
			<div class="col-sm-12">
				<div class="cart-title">Carrello</div>  
			</div>
			<div class="col-sm-12">
				<div class="cart-header-container"> 
					<div class="col-sm-2"></div>
					<div class="col-sm-6"></div>
					<div class="col-sm-2">
						<div class="cart-label-price">Prezzo</div>
					</div>
					<div class="col-sm-2">
						<div class="cart-label-qnt">Quantità</div>
					</div>
				</div>
				<hr class="col-sm-12 cart-top-separator">
			</div>
			<div class="cart-product-item"> 
				<div class="col-sm-2">
					<div class="cart-product-list-img">
						<img class="cart-product-img" src="/etc/designs/EAGA-Design/images/icons/alert-icon-red.png" />
					</div>			
				</div>
				<div class="col-sm-6">
					<div class="cart-product-info">
						<p class="cart-product-title">titolo</p>
						<p class="cart-product-producer">marca</p>
						<p class="cart-product-availability">disponibilità</p>
						<div class="cart-product-actions">
							<span class="">Rimuovi</span> | <span class="">Salva per dopo</span>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="price-container">
						<span>Euro:</span><span class="product-price">34.50</span>
					</div>
				</div>
				<div class="col-sm-2">
					<select id="cartPage-select" class="cart-list-quantity-select" >
						<option value="1" selected>1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				<hr class="col-sm-12 cart-item-separator">
			</div>
			<div class="col-sm-12">
				<div class="cart-total-container">
					<span class="">Totale provvisorio (
					<span class="cart-total-items-number"> 53 articoli </span>): </span>
					<span class="cart-total-value">EUR 1.621,90</span>
				</div>
			</div>
			<hr class="cart-line-separator">
			<div class="col-sm-12">Salvati per dopo (16 articoli)</div>
		</div> 
	</div>
	<div class="col-sm-3 ">
		<div class="checkout-container">
			 ciao da 3
		</div> 
	</div>
	<div class="col-sm-12">
		<div class="details-container">
			<hr>
			qui la descrizione estesa
		</div>
	</div>
</div>


<!-- <div class=""> </div>       -->