<div data-sly-use.myFooterLinksElement="${'com.aem.eaga.sightly.footerLinksElement.FooterLinksElementUse' @ currentNode=currentNode}">  
	<div data-sly-test.emptyLinks="${ myFooterLinksElement.author && myFooterLinksElement.linksEmpty }">
	   	<div><a href='#'>Configure the component</a></div>
	</div>
	<div data-sly-test.emptyLinks="${ !myFooterLinksElement.linksEmpty }">
	    <div class="footer-links-title">${properties.title @context='html'}</div>
		<ul data-sly-list.key="${ myFooterLinksElement.map }">
  			<li class="footer-links"><a href='${ myFooterLinksElement.map[key] }'>${key}</a></li>
		</ul>
	</div>
</div>   