<div class="row">
    <div class="container-wishlist">
        <div class="col-sm-12 container-header">
            <div class="col-sm-1 title-wishlist">
                <div class="text-title-wishlist">Le tue liste</div>
            </div>
            <div class="col-sm-9 create-wishlist">
                <div class="text-create-wishlist">Crea una nuova lista</div>
            </div>
            <div class="col-sm-2 setting-wishlist">
                <div class="text-setting-wishlist">Impostazioni della lista</div>
            </div>
        </div>
        <div class="col-sm-12 container-header">
            <div class="col-sm-2 text-name-wishlist">
                <ul class="ul-wishlist">
                    <li><a href="#">Wishlist_1 (0)</a></li>
                    <li><a href="#">Wishlist_2 (0)</a></li>
                    <li><a href="#">Wishlist_3 (0)</a></li>
                    <li><a href="#">Wishlist_4 (0)</a></li>
                    <li><a href="#">Wishlist_5 (0)</a></li>
                    <li><a href="#">Wishlist_6 (0)</a></li>
                    <li><a href="#">Wishlist_7 (0)</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="text-title-name-wishlist">Wishlist_3</div>
                <hr class="hr-wishlist">
                <div class="text-center text-products">0 articoli in questa lista</div>
                <hr class="hr-wishlist">
            </div>
        </div>
    </div>
</div>