<div class="position-header-components">
	<span> 
		<a href="/content/eaga/login.html"> 
			<img class="img-header topnav-item login" src="${properties.loginIcon ? properties.loginIcon : '/etc/designs/EAGA-Design/images/login.png' @context='html'}">
		</a>
	</span> 
	<span> 
		<a href="/content/eaga/cart.html"> 
			<img class="img-header topnav-item cart" src="${properties.cartIcon ? properties.cartIcon : '/etc/designs/EAGA-Design/images/cart.png' @context='html'}">
		<span id="total-cart-qnt-topnav">0</span>
		</a>
	</span>
</div>